:root {
    --columns: 5;
}

.fileIndex {
    display: inline-grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    justify-content: center;
    align-content: center;
    grid-gap: 5px;
}

.file {
    overflow: hidden;
    display: flex;
    position: relative;
    transition: filter .15s ease-out;
}

.file:hover {
    filter: brightness(1.15);
}

.file:hover .file-overlay {
    opacity: 1;
}

.file-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.file-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 220px;
    overflow: hidden;
    background: #333;
}

.file-preview img {
    height: 100%;
    width: 100%;
    pointer-events: none;
    object-fit: cover;
    object-position: center;
}

.file-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .125s ease-out;
}

.file-name {
    display: block;
    color: #eee;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 200;
    text-align: center;
}
