body {
	background: #1c1c1c;
	font-family: sans-serif;
	font-size: 14px;
	color: #eee;
	margin: 0;
}

main {
    padding: 15px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}